/*@media
only screen and (max-width: 999px),
(min-device-width: 768px) and (max-device-width: 999px){
#container,.h1,table,tr,td{
display: block;
}
*/


body {
  background-color: #D8D8D8;
}
.base{

  clear: both;
}
.curseur {
  position: absolute;
  top:120px;
  right:100px;
}
.recherche{

}
.edition{

}
.recherche{
position: absolute;
top:1100px;
right:100px;
margin-bottom:5px;

}


h1 {
height: 30px;
text-align: center;
font-size: 25px;
font-weight:bold;
margin-left:100px 0 100px 0;
background-color: grey;
border:2px solid;
}
h4{

margin-left: 100px;
text-decoration: underline;
font-size: 25px;
}


table {
  border-collapse: collapse;
  margin-left: 100px;
}
td {

  font-size: 20px;
  border:1px solid;
}
tr {
  text-align: center;
}
