body {
  background-color: #D8D8D8;
}
h1 {
text-align: center;
font-size: 25px;
font-weight:bold;

}
.h1 {
  width: 1000px;
  height:50px;
  text-align: center;
  border:2px solid;
  margin-left:150px;
  background-color: grey;
}
h4{

margin-left: 150px;
text-decoration: underline;
font-size: 25px;
}

li {
font-size:25px;
margin-left: 150px;
}
table {
  border-collapse: collapse;
  margin-left: 150px;
}
td {
  font-size: 25px;
  border:1px solid;
}
